.item {
  list-style: none;
  display: flex;
  flex-direction: column;
  background-color: tomato;

  padding: 10px;
}

.item:not(:last-child) {
  border-right: solid 1px black;
}

.percentage {
  display: flex;
  align-items: center;
  justify-content: center;
}
